.rotation4 .inner {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(76deg);
  }
}

.rotation4  .box {
  position: absolute;
}
