.infinite-scroll .option {
  padding: 16px 32px;
  border: 1px solid #888;
  margin: 8px;
  color: #4281A4;
  border-radius: 4px;
}

.infinite-scroll .list-container {
  height: 600px;
  overflow: scroll;
  border: 1px solid red;
}
