.control-panel-container {

  --panel-margin: 8px;

  position: relative;
  height: 155px;
  margin-top: calc(2 * var(--panel-margin));
  z-index: 2;
}

.control-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--panel-margin);
  right: var(--panel-margin);
  padding: 24px 32px;
  border: 1px solid var(--interface-color);
  filter: drop-shadow(0 0 6px var(--interface-color));
  color: var(--interface-color);
  transition: 
    left 0.25s ease-out, 
    right 0.25s ease-out, 
    top 0.5s ease-out 0.25s, 
    bottom 0.5s ease-out 0.25s,
    padding 1s ease-out 0.75s; 
}

.control-panel.closed {
  top: 45%;
  bottom: 45%;
  left: 45%;
  right: 45%;
  padding: 0;
}

.control-panel .top-row,
.control-panel .bottom-row {
  transition: opacity 1s ease-out 0.75s;
  opacity: 1;
}

.control-panel.closed .top-row,
.control-panel.closed .bottom-row {
  opacity: 0;
}

.control-panel .border-top-right,
.control-panel .border-bottom-left {
  position: absolute;
  background-color: var(--interface-color);
  width: 50%;
  height: var(--panel-margin)
}

.control-panel .border-top-right {
    top: calc(-1 * var(--panel-margin));
    right: -1px;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
}

.control-panel .border-bottom-left {
    bottom: calc(-1 * var(--panel-margin));
    left: -1px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}

.control-panel .top-row,
.control-panel .bottom-row {
  position: relative;
}

.control-panel .top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(4 * var(--panel-margin));
  align-items: center;
}

.control-panel .point-display,
.control-panel .start-button,
.control-panel .speed-label,
.control-panel .speed-slider {
  font-family: var(--interface-font);
  color: var(--interface-color);
}

.control-panel .point-display {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px dashed;
}

.control-panel .speed-slider {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background-color: var(--interface-color);
  height: 1px;
  margin-bottom: var(--panel-margin);
}

.control-panel .speed-label {
  display: block;
}

.control-panel .start-button {
  background-color: black;
  border: 3px solid var(--interface-color);
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
}

.control-panel .start-button:hover {
  filter: drop-shadow(0 0 4px white);
}

.control-panel .start-button:active {
  filter: drop-shadow(0 0 0px white);
}

.control-panel .speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 4px;
  background: var(--interface-color);
 }