body {
  margin: 0;
}

.page {
  display: flex;
  justify-content: center;
  font-family: 'Courier New';
}

.page > div {
  width: 360px;
}

.page .title {
  font-weight: 500;
}

.page .text,
.page .menu .option a {
  font-size: 16px;
  line-height: 1.5;
}

.page .menu .option a {
  text-decoration: none;
}

.page .header-menu {
  margin-bottom: 60px;
}

.page .header-menu a {
  margin-right: 12px;
  text-decoration: none;
}
