.page {
  display: flex;
  justify-content: center;
  font-family: 'Courier New';
}

.page > div {
  width: 360px;
}

.page .title {
  font-weight: 500;
}

.page .text,
.page .option a {
  font-size: 16px;
  line-height: 1.25;
}

.page .option a {
  text-decoration: none;
}
