body {
  margin: 0;
}

.inner {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  35% {
    transform: rotate(35deg);
  }
  60% {
    transform: rotate(-10deg);
  }
}

.box {
  position: absolute;
}
