* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.game-play-area {
  flex-grow: 1;
  position: relative;
}
