html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.control-panel {
  padding: 24px 32px;
}

.control-panel > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.control-panel .point-display {
  font-size: 40px;
}

.control-panel .start-button {
  font-size: 18px;
  width: 100px;
}

.control-panel .speed-slider {
  display: block;
  width: 100%;
}

svg {
  flex-grow: 1;
  border: 1px solid black;
  position: relative;
}

/* SKIN */

