:root {
  --interface-color: #00ffff;
  --interface-font: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
