.rotation1 .inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rotation1 .box1 {
  width: 200px;
  height: 200px;
  border: 1px solid #2d728f;
  animation: rotate 5s linear infinite;
}

.rotation1 .box2 {
  width: 150px;
  height: 150px;
  border: 1px solid #3B8EA5;
  animation: rotate 5s linear infinite;
}

.rotation1 .box3 {
  width: 100px;
  height: 100px;
  border: 1px solid #F49E4C;
  animation: rotate 5s linear infinite;
}

.rotation1 .box4 {
  width: 50px;
  height: 50px;
  border: 1px solid #AB3428;
  animation: rotate 5s linear infinite;
}
