.game-play-area {
  flex-grow: 1;
  position: relative;
  z-index: 0;
}

.dot-glowing-area {
  fill: white;
}

.dot-border {
  stroke: var(--interface-color);
}

.point-display-text {
  fill: var(--interface-color);
  font-size: 22px;
  font-family: var(--interface-font);
  font-weight: 700;
  filter: drop-shadow(0 0 5px var(--interface-color))
}

